.page {
  background: linear-gradient(to bottom, #e9e9eb 0%, #fff 100%);
  color: #282828;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.footer {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 16px;
  margin: 20px 0;
  color: #727272;
}
