.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #f07373;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}
.ToastSuccess {
  background-color: #00bf71;
  color: white;
}
.blocktext {
  color: black;
}
