version: "3.7"

services:
  demo:
    image: ebsi/demo
    container_name: ebsi-demo-front-ends
    build:
      context: .
      args:
        BELGIUM_GOV_PUBLIC_URL: ${BELGIUM_GOV_PUBLIC_URL:?BELGIUM_GOV_PUBLIC_URL is not defined or empty}
        DEMONSTRATOR_PUBLIC_URL: ${DEMONSTRATOR_PUBLIC_URL:?DEMONSTRATOR_PUBLIC_URL is not defined or empty}
        EU_FUNDING_PUBLIC_URL: ${EU_FUNDING_PUBLIC_URL:?EU_FUNDING_PUBLIC_URL is not defined or empty}
        FLEMISH_GOV_PUBLIC_URL: ${FLEMISH_GOV_PUBLIC_URL:?FLEMISH_GOV_PUBLIC_URL is not defined or empty}
        SPANISH_UNIVERSITY_PUBLIC_URL: ${SPANISH_UNIVERSITY_PUBLIC_URL:?SPANISH_UNIVERSITY_PUBLIC_URL is not defined or empty}
        REACT_APP_VERIFIABLE_ID_URL: ${REACT_APP_VERIFIABLE_ID_URL:?REACT_APP_VERIFIABLE_ID_URL is not defined or empty}
        REACT_APP_UNIVERSITY_API_URL: ${REACT_APP_UNIVERSITY_API_URL:?REACT_APP_UNIVERSITY_API_URL is not defined or empty}
        REACT_APP_WALLET_URL: ${REACT_APP_WALLET_URL:?REACT_APP_WALLET_URL is not defined or empty}
        REACT_APP_WALLET_API: ${REACT_APP_WALLET_API:?REACT_APP_WALLET_API is not defined or empty}
        REACT_APP_NOTARY_URL: ${REACT_APP_NOTARY_URL:?REACT_APP_NOTARY_URL is not defined or empty}
        REACT_APP_DIPLOMA_API_URL: ${REACT_APP_DIPLOMA_API_URL:?REACT_APP_DIPLOMA_API_URL is not defined or empty}
        REACT_APP_ECA_URL: ${REACT_APP_ECA_URL:?REACT_APP_ECA_URL is not defined or empty}
        REACT_APP_EULOGIN_REGISTER: ${REACT_APP_EULOGIN_REGISTER:?REACT_APP_EULOGIN_REGISTER is not defined or empty}
        REACT_APP_BACKEND_URL: ${REACT_APP_BACKEND_URL:?REACT_APP_BACKEND_URL is not defined or empty}
    ports:
      - 8080:8080
