.h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.67;
  color: #5b6f90;
  margin: 0 0 20px 0;
  padding: 0;
}

.h2 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.18;
  color: #5b6f90;
  margin: 0 0 10px 0;
  padding: 0;
}

.p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.38;
  margin: 0 0 20px 0;
  padding: 0;
}

.ul,
.ol {
  margin-top: 0;
  margin-bottom: 20px;
}

.li {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.38;
  margin: 0 0 8px 0;
  padding: 0;
}

.a {
  color: #5b6f90;
  text-decoration: underline;
}

.a:hover,
.a:active,
.a:focus {
  color: #a3b6d6;
  text-decoration: none;
}
