.h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.67;
  color: #5b6f90;
  margin: 0 0 20px 0;
  padding: 0;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  margin: 0 0 20px 0;
  padding: 0;
}
