.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.main {
  width: 100%;
  max-width: 960px;
}

.p {
  line-height: 1.4;
  font-size: 1.375rem;
  max-width: 48rem;
}

.ol {
  list-style: none;
  padding: 0;
}

.li {
  padding: 0;
}

.li.disabled {
  filter: brightness(0.6);
}

.li.done {
  filter: brightness(0.6);
}

.li + .li {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .li + .li {
    margin-top: 2rem;
  }
}

.button {
  appearance: none;
  background: none;
  box-sizing: border-box;
  display: inline-block;
  font: normal normal 400 1rem/1.25rem Arial, sans-serif;
  font-weight: 600;
  margin: 2rem 1rem 0 0;
  background-color: #fff;
  border: 2px solid #004494;
  color: #004494;
  padding: calc(0.75rem - 2px) calc(1rem - 2px);
  text-decoration: none;
}

.button:focus {
  outline: 3px solid #ffd617;
  outline-offset: -3px;
}

.disclaimer {
  font-size: 1.125rem;
  margin: 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .disclaimer {
    font-size: 1.25rem;
    margin: 3rem 0;
  }
}

.h1 {
  font-size: 1.875rem;
  margin: 1.5rem 0 2rem;
  text-align: left;
  max-width: 48rem;
}

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 2.25rem;
    margin: 2rem 0 2.5rem;
  }
}
