body {
  background-color: #002f67;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.App::before {
  position: absolute;
  content: " ";
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  width: 48rem;
  height: 36rem;
  top: 20%;
  left: 50%;
  margin-left: -24rem;
  margin-top: -10rem;
  z-index: -1;
  opacity: 0.1;
}

.App-link {
  color: #ffd617;
}

.App p {
  line-height: 1.4;
  font-size: 1.375rem;
  max-width: 48rem;
}

.App ol {
  list-style: none;
  padding: 0;
}

.App li {
  font-size: 1.25rem;
  line-height: 1.25;
  padding: 0.25rem 0;
}

.App li + li {
  margin-top: 2.5rem;
}

.App li.disabled {
  color: #cfcfcf;
  font-weight: 400;
}

.disabled .App-link {
  color: #707070;
}

.App li.done {
  color: #cfcfcf;
  font-weight: 400;
}

.done .App-link {
  color: #707070;
}

.button {
  appearance: none;
  background: none;
  box-sizing: border-box;
  display: inline-block;
  font: normal normal 400 1rem/1.25rem Arial, sans-serif;
  font-weight: 600;
  margin: 2rem 1rem 0 0;
  background-color: #fff;
  border: 2px solid #004494;
  color: #004494;
  padding: calc(0.75rem - 2px) calc(1rem - 2px);
  text-decoration: none;
}

.button:focus {
  outline: 3px solid #ffd617;
  outline-offset: -3px;
}

.App .disclaimer {
  font-size: 1.125rem;
  margin: 3rem 0;
}

.h1 {
  font-size: 2.25rem;
  margin: 0 0 1.5rem 0;
  text-align: left;
  max-width: 48rem;
}

.h2 {
  font-size: 1.875rem;
  margin: 0 0 1rem 0;
  text-align: left;
  max-width: 48rem;
}
