body {
  background-color: #002f67;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.App:before {
  position: absolute;
  content: " ";
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  width: 48rem;
  height: 36rem;
  top: 20%;
  left: 50%;
  margin-left: -24rem;
  margin-top: -10rem;
  z-index: -1;
  opacity: 0.1;
}

.App-header {
  font-size: calc(2rem + 2vmin);
  margin: 0 0 2rem 0;
  text-align: left;
}

.App-link {
  color: #ffd617;
}

.App p {
  line-height: 1.33;
  font-size: 1.5rem;
  max-width: 48rem;
}

.App ol {
  list-style: none;
  counter-reset: ebsi-counter;
  padding: 0;
}

.App li {
  counter-increment: ebsi-counter;
  font-size: 1.25rem;
  line-height: 1.25;
  max-width: 48rem;
  padding: 0.25rem 0;
}

.App li::before {
  content: counter(ebsi-counter) ". ";
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding-right: 4px;
}
