.h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 3.75rem;
  line-height: 1.2;
  padding: 0;
}

.h2 {
  font-size: 2.125rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
  line-height: 1.5;
  padding: 0;
}

.p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1.125rem 0;
  padding: 0;
  max-width: 80ch;
}

.ul,
.ol {
  margin: 1.125rem 0 1.25rem 0.625rem;
  padding-left: 1.25rem;
}

.li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 0.5625rem 0;
  padding: 0;
}

.a {
  color: #06c;
  text-decoration: underline;
}

.a:hover,
.a:active,
.a:focus {
  color: #3184d6;
  text-decoration: none;
}
