.h1Wrapper {
  margin: 0 0 3.75rem;
  background-color: #908383;
  padding: 2.8125rem 0 1.5625rem;
}

.h1 {
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  color: #fff;
  font-size: 2.375rem;
}

.h2 {
  color: #222;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  text-rendering: optimizeLegibility;
}

@media only screen and (min-width: 62.5625em) {
  .h2 {
    font-size: 1.625rem;
  }
}

.p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
  max-width: 80ch;
}

.ul,
.ol {
  margin: 1.125rem 0 1.25rem 0;
  font-size: 1rem;
  line-height: 1.6;
}

.ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  padding-left: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 1.4;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 11px;
  height: 11px;
  background-color: #90282a;
  border-radius: 50%;
}

.a {
  text-decoration: underline;
  word-break: break-word;
  color: #90282a;
}

.a:hover,
.a:active,
.a:focus {
  color: #4a4a4a;
}
