body {
  background: linear-gradient(135deg, #9598a9 0%, #f3f3f3 100%);
  font-family: "Lato", Verdana, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.form-control {
  max-width: 30em;
}
