body {
  margin: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

/**
 * Bootstrap overrides
 */
.container-fluid {
  max-width: 77.5rem;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
  font-size: 0.875rem;
  background-color: #90282a;
  border-color: #732022;
  color: #fff;
  transition: background-color 0.3s ease-out;
}

.btn:focus,
.btn:hover,
.button:focus,
.button:hover {
  background-color: #732022;
  color: #fff;
}
